<div style="position:fixed;width:100%;top:200px">
  <form class="row" ng-submit='submitReset()'>
    <div class="well" style="width:340px;margin:0 auto">
      <div style="padding-left:10px">
        <p>
          <label for='username'> User Name:
          </label>
          <input type='text' style='width:300px' ng-model='form.username' ng-click='clearMessage()' id='username' autofocus="autofocus">
        </p>
        <p>
          <button class="btn btn-primary" type='submit'> Submit
          </button>
        </p>
      </div>
    </div>
  </form>
</div>