<div style="position:fixed;width:100%;top:200px">
  <form class="row" ng-submit='submitUpdate()'>
    <div class="well" style="width:340px;margin:0 auto">
      <div style="padding-left:10px">
        <p>
          <label for='password'> Password:
          </label>
          <input type='password' style='width:300px' ng-model='form.password' ng-click='clearMessage()' id='password' autofocus>
        </p>
        <p>
          <label for='confirmpassword'> Confirm Password:
          </label>
          <input type='password' style='width:300px' ng-model='form.confirmpassword' ng-click='clearMessage()' id='confirmpassword'>
        </p>
        <p>
          <button class="btn btn-primary" type='submit'> Submit
          </button>
        </p>
        <p>
          <span style="font-size:10pt;margin: 0 auto"> {{message}}
          </span>
        </p>
      </div>
    </div>
  </form>
</div>